/* container.header */
h1 {
    color: #F6F930;
    text-align: right;
    text-shadow: #2F2F2F;
}       

.logo {
    width: 100px;
    height: 100px;
    background-size: contain;
    top: 0;
    left: 0;
    margin: 10px;
    z-index: 1000;
    
}

.header {
    background-color: #2F2F2F;
    display: flex;
    justify-content: space-between;
}

