/* Estilos generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* Cambiar según tu preferencia */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}





/* Estilos del encabezado */

header {
    background-color: #000000; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 20px; /* Espaciado interno del encabezado */
    display: flex; /* Utilizar el modelo de caja flexible para alinear los elementos */
    align-items: center; /* Centrar verticalmente los elementos */
}

header ul {
    list-style-type: none; /* Eliminar los puntos de la lista */
    margin: 0; /* Eliminar el margen */
    padding: 0; /* Eliminar el relleno */
    display: flex; /* Utilizar el modelo de caja flexible para alinear los elementos */
}

header li {
    margin-right: 10px; /* Espaciado entre los elementos de la lista */
}

header button {
    background-color: transparent; /* Fondo transparente */
    border: none; /* Eliminar el borde */
    color: #fff; /* Color del texto */
    padding: 10px; /* Espaciado interno del botón */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
}

header img {
    margin-left: auto; /* Mover la imagen al extremo derecho */
}


/* Estilos de la sección del inicio */

.inicio {
    display: flex; /* Utilizar el modelo de caja flexible */
    flex-direction: column; /* Colocar los elementos en columna */
    justify-content: center; /* Centrar verticalmente */
    align-items: center; /* Centrar horizontalmente */
    height: 100vh; /* Altura del 100% de la ventana */
    text-align: center; /* Centrar el texto horizontalmente */
    background-color: #A499BE;
}

.inicio h1 {
    margin-bottom: 20px; /* Espaciado inferior para separar el título del párrafo */
}







/* Estilos de la sección de la galería */

.galeria {
    padding: 20px;
    overflow-x: auto; /* Permitir desplazamiento horizontal */
    white-space: nowrap; /* Evitar el salto de línea en los elementos */
    scroll-snap-type: x mandatory; /* Especificar el desplazamiento de la instantánea horizontal */
    -webkit-overflow-scrolling: touch; /* Desplazamiento suave en dispositivos móviles */
    display: flex; 
    justify-content: center; /* Centrado horizontal */
    align-items: center;/* Centrado vertical */
    background-color: #7B506F;
}
.galeria div {
    margin: 10px;
}

.titulogaleria h3 {
    font-size: 24px;
    text-align: center;
}


.imagen-tarjeta {
    max-width: 100%;
    height: 400px;
}

.tarjeta {
    border: 3px solid #000000;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.tarjeta img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tarjeta .descripcion {
    padding: 10px;
}

.descripcion {
    padding: 10px;
    height: auto; /* Altura de la caja de texto */
    
}





/* Estilos de la sección de la red */

.mired {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.mired h3 {
    margin-top: 0;
    color: #fff;
}



